@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    color-scheme: dark;
  }

  body {
    @apply bg-spaceB-900 relative min-h-screen overflow-x-hidden tracking-[-0.035em] tracking-[-0.02em];
    -webkit-tap-highlight-color: transparent;
  }

  body::before {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full rounded-full -z-10;
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgba(107, 149, 255, 0.15) 0%, rgba(61, 85, 145, 0.00) 100%),
      url('../public/stars.svg');
  }
}

@layer components {
  .logo-text {
    background: linear-gradient(92deg, rgba(255, 255, 255, 0.9) 0.15%, rgba(255, 255, 255, 0.7) 100.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .space-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
    transition: all .3s;
  }

  .space-gradient:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.09) 100%);
  }

  .space-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
  }

  .space-slider::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }

  .space-slider::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }

  .space-slider::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 bg-white rounded-full shadow-[-407px_0_0_400px] shadow-spaceB-500;
  }

  .space-slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -407px 0 0 400px #f50;
  }
}